<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">"

  </head>
  <body>
    <ul class="nobull">
      <li> <a href=''>Home</a></li>
      <li> <a href=''>About</a></li>
      <li> <a href=''>Music</a></li>
      <li> <a href=''>Contact</a></li>
    </ul>

      <i class="fa fa-facebook-square"></i>
      <i class="fa fa-twitter-square"></i>
      <i class="fa fa-spotify"></i>
      <i class="fa fa-apple"></i>
      <i class="fa fa-amazon"></i>
      <i class="fa fa-instagram"></i>

    <h2>EMILIA COLE</h2>  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>


    <h1>TWIST IN MY REALITY</h1>

    <p></p>
  </body>
</html>
